@import url('https://fonts.googleapis.com/css?family=Vollkorn');

@accent: #111;
@shadow: rgba(0,
0,
0,
0.1);

* {}

body {
    margin: 0;
    font-family: 'Vollkorn', serif;
    height: 100vh;
}

p {
    opacity: 0.75;
}

nav {
    color: @accent;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    .nav_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    select {
        width: 120px;
        height: 30px;
        float: right;
        border: none;
        //        border-bottom: 1px solid @accent;
        padding: 5px;
        &:focus {
            outline: none;
        }
        option {
            border: none;
        }
    }

    a {
        text-decoration: none;
        color: @accent;
    }
    h1 {
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
    }
    img {
        user-select: none;
        transition: 0.5s ease;
        &:hover {
            transform: rotate(180deg);
        }
    }

    label {
        display: block;
    }
    input {
        color: @accent;
        display: inline-block;
        text-align: center;
        font-size: 1em;
        padding: 5px;
        margin-left: 8px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid @accent;
        opacity: 0.4;
    }
    input:focus {
        outline: none;
        opacity: 1;
    }
    ::placeholder {
        color: @accent;
        opacity: 0.4;
    }
    :-ms-input-placeholder {
        color: @accent;
    }
    ::-ms-input-placeholder {
        color: @accent;
    }
}

#app {
    padding: 20px;
    //    background-color: rgba(0, 0, 0, 0.25);
    filter: none;
    min-width: 200px;
    max-width: 800px;
    margin: 0 auto;
    ul, li {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-columns: 1fr auto auto auto;
        margin-bottom: 5px; //    background-color: royalblue;
    }

    hr {
        border: none;
        border-bottom: 1px solid @accent;
        opacity: 0.25;
    }

    .cell {
        h2 {
            font-weight: 300;
        }
        h2, p {
            cursor: pointer;
            &:hover {
                background-color: @shadow;
            }
        }
        h2, p, input {
            color: @accent;
            margin: 0;
            padding: 0;
            display: block;
        }
        input {
            font-family: 'Vollkorn', serif;
            border: none;
            background-color: @shadow;
            width: 100%;
            &:focus {
                outline: none;
            }
        }
        input:nth-child(2n + 1) {
            font-size: 1.5em;
        }
        input:nth-child(2n) {
            font-size: 1em;
        }
        button, a {
            width: 50px;
            height: 100%;
        }
        a {
            padding: 0;
            color: @accent;
            text-align: center;
            display: block;
            &:hover {
                background-color: @shadow;
            }
            i {
                padding-bottom: 15px;
                margin-top: 10px;
            }
        }
    }

    button {
        color: @accent;
        padding: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: @shadow;
        }
        &:focus {
            outline: none;
        }
    }

    ._right {
        float: right;
    }
}
