<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>astarta</title>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.5.0/hint.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    
    <link rel="stylesheet/less" type="text/css" href="/style/style.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.1/less.min.js"></script>
</head>

<body>
<!--    <a href="/app/test.php">test</a>-->
    <div id="app">
        <nav>
            <div class="nav_grid">
                <div v-if="!debug"></div>
                <div class="debug" v-if="debug">
                    <p>filter: {{filter}}</p>
                    <p>posts_visibility: {{posts_visibility}}</p>
                    <p>confirmations: {{confirmations}}</p>
                    <p>reverse: {{reverse}}</p>
                    <p>databases: {{databases}}</p>
                    <p>link: {{link}}</p>
                    <p>adding_db: {{adding_db}}</p>
                    <p>new_db: {{new_db}}</p>
                    <p>upload_ready: {{upload_ready}}</p>
                </div>
                
                <a href="/">
                    <h1>Astarta</h1>
                    <img src="/img/logo_black.png" width="64">
                </a>
                
                <div class="databases _right">
                   
                    <select v-if="!adding_db && !upload_ready" v-model="link" v-on:change="_load_posts()">
                        <option v-for="database in databases" v-bind:value="database">{{database}}</option>
                    </select>
                    
                    <span v-if="adding_db && !upload_ready">название: </span>
                    <input id="input_add_db" type="text" v-model="new_db" v-show="adding_db" @keyup.enter="_add_db(new_db)">
                    
                    <span v-if="!adding_db && !upload_ready"  class="hint--bottom" aria-label="Добавить базу данных">
                        <button @click="_show_adding_db_input()"><i class="material-icons md-18">add</i></button>
                    </span>
                    
                    <span v-if="adding_db && !upload_ready" class="hint--bottom" aria-label="Подтвердить">
                        <button @click="_add_db(new_db)"><i class="material-icons md-18">done</i></button>
                    </span>
                    
                    <span v-if="adding_db && !upload_ready" class="hint--bottom" aria-label="Отмена">
                        <button @click="_hide_adding_db_input()"><i class="material-icons md-18">clear</i></button>
                    </span>
                    
                    <span v-if="!adding_db && !upload_ready" class="hint--bottom" aria-label="Удалить базу данных">
                        <button @click="_delete_db()"><i class="material-icons md-18">delete</i></button>
                    </span>
                    
                    <span v-if="!adding_db" class="hint--bottom" aria-label="Загрузить базу данных">
                        <button @click="_upload_db()"><i class="material-icons md-18">file_upload</i></button>
                    </span>
                    
                    <span v-if="!adding_db && upload_ready" class="hint--bottom" aria-label="Подтвердить загрузку">
                        <button class="_hoverable" @click="_submit()">
                            <i class="material-icons md-18">done</i>
                        </button>
                    </span>
                    
                    <span v-if="!adding_db && upload_ready" class="hint--bottom" aria-label="Отменить загрузку">
                        <button class="_hoverable" @click="_submit_cancel()">
                            <i class="material-icons md-18">clear</i>
                        </button>
                    </span>
                    
                    <span v-if="!adding_db && !upload_ready" class="hint--bottom" aria-label="Скачать базу данных">
                        <a class="_hoverable" v-bind:href="'/download/'+link">
                            <i class="material-icons md-18">file_download</i>
                        </a>
                    </span>
                </div>
                
                <br>
                
                <form action="/app/app.php" id="upload_form" enctype="multipart/form-data" method="post" style="display: none;">
                    <input type="hidden" name="action" value="upload_db">
                    <input type="file" name="file" id="file">
                    <input type="submit" id="send_form">
                </form>
                
            </div>
            <input class="_center" type="search" placeholder="поиск" v-model="filter">
        </nav>
        
<!--        -->
        
        <div class="informers">
            <p class="_center error" v-if="error">Error: {{error}}</p>

            <p class="_center info _hoverable" v-if="info" @click="_close_info()">{{info}}
                <button v-if="info"><i class="material-icons md-18">clear</i></button>
            </p>
        </div>
        
        <!--             -->
        <!-- ПОСТЫ -->
        
        <h2 class="_center">{{link}} <span v-if="reverse">(обр.)</span></h2>
        <ul>
            <li v-for="(post, index) in posts" v-if="condition(post.title, post.text, filter)" v-bind:id="index">
                <div class="grid">
                    <div class="cell">
                       
                        <h2 @click.ctrl="_edit_post(index,1)" v-if="posts_visibility[index]">{{post.title}}</h2>
                        <input v-if="!posts_visibility[index]" type="text" v-model="posts[index].title" @keyup.enter="_edited_post(index)" v-bind:id="'input_'+index">
                        
                        <div @click.ctrl="_edit_post(index,2)" v-if="posts_visibility[index]">
                            <par v-for="par in post.text.split('\n')" v-bind:par="par"></par>
                        </div>
                        
                        <textarea v-if="!posts_visibility[index]" v-model="posts[index].text" @keyup.ctrl.enter="_edited_post(index)" v-bind:id="'textarea_'+index"></textarea>
                        <p v-if="posts_visibility[index]" class="date">{{post.date}}</p>
                        
                        <span class="hint--bottom" aria-label="Сохранить изменения">
                            <button v-if="!posts_visibility[index]" @click="_edited_post(index)"><i class="material-icons md-48">done</i></button>
                        </span>
                        
                    </div>

                    <div class="cell">
                        <span class="hint--bottom" aria-label="Ссылка на пост">
                            <a v-bind:href="'#'+index" v-if="posts_visibility[index]"><i class="material-icons md-48">link</i></a>
                        </span>
                    </div>

                    <div class="cell">
                        <span class="hint--bottom" aria-label="Редактировать пост">
                            <button v-if="posts_visibility[index]" @click="_edit_post(index,2)"><i class="material-icons md-48">create</i></button>
                        </span>
                    </div>

                    <div class="cell">
                        <span class="hint--bottom" aria-label="Удалить пост">
                            <button v-if="posts_visibility[index]" @click="_delete_post(index)"><i class="material-icons md-48">clear</i></button>
                        </span>
                    </div>
                </div>
                <hr>
            </li>

            <span class="hint--bottom" aria-label="Новый пост">
                <button v-if="!error" class="btn_new" @click="_add_post()"><i class="material-icons md-48">add</i></button> 
            </span>

            <div v-if="!error" class="_right">

                <span v-if="!reverse" class="hint--bottom" aria-label="В обратном порядке">
                    <button @click="_change_reverse( true )"><i class="material-icons">sort_by_alpha</i></button>
                </span>
                
                <span v-if="reverse" class="hint--bottom" aria-label="В прямом порядке">
                    <button @click="_change_reverse( false )"><i class="material-icons">sort_by_alpha</i></button>
                </span>
               
                <span v-if="!confirmations" class="hint--bottom" aria-label="Включить подтверждение удаления">
                    <button @click="_change_confirmations( true )"><i class="material-icons">check_box_outline_blank</i></button>
                </span>

                <span v-if="confirmations" class="hint--bottom" aria-label="Отключить подтверждение удаления">
                    <button @click="_change_confirmations( false )"><i class="material-icons">check_box</i></button>
                </span>
            </div>
        </ul>
    </div>
</body>
</html>

<script src="/js/vue.index.js"></script>