<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>astarta</title>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.5.0/hint.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    
    <link rel="stylesheet/less" type="text/css" href="/style/style.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.1/less.min.js"></script>
</head>

<body>
    <div id="app">
        <nav>
            <div class="nav_grid">
                <div></div>
                
                <a href="/">
                    <h1>Astarta</h1>
                    <img src="/img/logo_black.png" width="64">
                </a>
                
                <div class="databases _right">
                    <select v-if="!adding_db" v-model="link" v-on:change="_load_posts()">
                        <option value="main">main</option>
                        <option v-for="database in databases" v-bind:value="database">{{database}}</option>
                    </select>
                    <span v-if="adding_db">название: </span>
                    <input id="input_add_db" type="text" v-model="new_db" v-show="adding_db" @keyup.enter="_add_db(new_db)">
                    <span class="hint--bottom" aria-label="Новый блог">
                        <button v-if="!adding_db" @click="_show_adding_db_input()"><i class="material-icons md-18">add</i></button> 
                        <button v-if="adding_db" @click="_add_db(new_db)"><i class="material-icons md-18">done</i></button> 
                        <button v-if="adding_db" @click="_hide_adding_db_input()"><i class="material-icons md-18">clear</i></button>
                         
                        <button v-if="!adding_db" @click="_delete_db()"><i class="material-icons md-18">delete</i></button> 
                    </span>
                </div>
                
            </div>
            <input class="_center" type="search" placeholder="поиск" v-model="filter">
        </nav>
        
<!--        -->
        
        <div class="informers">
            <p class="_center error" v-if="error">Error: {{error}}</p>

            <p class="_center info _hoverable" v-if="info" @click="_close_info()">{{info}}
                <button v-if="info"><i class="material-icons md-18">clear</i></button>
            </p>
        </div>
        
<!--        -->
        
        <h2 class="_center">{{link}}</h2>
        <ul>
            <li v-for="(post, index) in posts" v-if="condition(post.title, post.text, filter)" v-bind:id="index">

                <div class="grid">
                    <div class="cell">
                       
                        <h2 v-if="posts_visibility[index]" @click="_edit_post(index,1)" class="_hoverable">{{post.title}}</h2>
                        <input v-if="!posts_visibility[index]" type="text" v-model="posts[index].title" @keyup.enter="_edited_post(index)">
                        
                        <div v-if="posts_visibility[index]" @click="_edit_post(index,0)" class="_hoverable">
                            <par v-for="par in post.text.split('\n')" v-bind:par="par"></par>
                        </div>
                        
                        <textarea v-if="!posts_visibility[index]" v-model="posts[index].text" @keyup.ctrl.enter="_edited_post(index)"></textarea>
                        <p v-if="posts_visibility[index]" class="_right date">{{post.date}}</p>
                        
                        <span class="hint--bottom" aria-label="Сохранить изменения">
                            <button v-if="!posts_visibility[index]" @click="_edited_post(index)"><i class="material-icons md-48">done</i></button>
                        </span>
                        
                    </div>

                    <div class="cell">
                        <span class="hint--bottom" aria-label="Ссылка на пост">
                            <a v-bind:href="'#'+index" v-if="posts_visibility[index]"><i class="material-icons md-48">link</i></a>
                        </span>
                    </div>

                    <div class="cell">
                        <span class="hint--bottom" aria-label="Редактировать пост">
                            <button v-if="posts_visibility[index]" @click="_edit_post(index)"><i class="material-icons md-48">create</i></button>
                        </span>
                    </div>

                    <div class="cell">
                        <span class="hint--bottom" aria-label="Удалить пост">
                            <button v-if="posts_visibility[index]" @click="_delete_post(index)"><i class="material-icons md-48">clear</i></button>
                        </span>
                    </div>
                </div>
                <hr>
            </li>

            <span class="hint--bottom" aria-label="Новый пост">
                <button v-if="!error" class="btn_new" @click="_add_post()"><i class="material-icons md-48">add</i></button> 
            </span>

            <div v-if="!error" class="_right">

                <span class="hint--bottom" aria-label="Включить подтверждение удаления">
                    <button @click="_change_confirmations( true )" v-if="!confirmations"><i class="material-icons">check_box_outline_blank</i></button>
                </span>

                <span class="hint--bottom" aria-label="Отключить подтверждение удаления">
                    <button @click="_change_confirmations( false )" v-if="confirmations"><i class="material-icons">check_box</i></button>
                </span>

            </div>
        </ul>
    </div>
</body>
</html>

<script src="/js/vue.index.js"></script>